asttokens
backcall
beautifulsoup4
bs4
certifi
charset-normalizer
debugpy
decorator
entrypoints
executing
filelock
flake8
idna
ipykernel
ipython
jedi
jupyter-client
jupyter-core
matplotlib-inline
mwsql
nb-utils
nest-asyncio
opencv-contrib-python
packaging
parso
pexpect
pickleshare
prompt-toolkit
psutil
ptyprocess
pure-eval
Pygments
pylint
pyparsing
PySocks
pytest
python-dateutil
pyzmq
regex
requests
six
soupsieve
split-folders
stack-data
tornado
tqdm
traitlets
urllib3
wcwidth
wikitextparser
