asttokens
backcall
beautifulsoup4
bs4
certifi
charset-normalizer
debugpy
decorator
entrypoints
executing
filelock
flake8
idna
jedi
matplotlib-inline
nest-asyncio
packaging
parso
pexpect
pickleshare
prompt-toolkit
psutil
ptyprocess
pure-eval
Pygments
pylint
pyparsing
PySocks
pytest
python-dateutil
pyzmq
regex
requests
six
stack-data
tornado
traitlets
urllib3
wcwidth
